<section id="list">
  <p style="color: green"><%= notice %></p>

  <header>
    <h1>Categories</h1>
  </header>

  <div id="categories">
    <% @groups.includes([:budgets_groups, :budgets]).each do |group| %>
      <%= link_to group do %>
        <%= render group %>
      <% end %>
    <% end %>
  </div>

  <div id="new-item">
    <%= link_to "NEW CATEGORY", new_group_path, id:"new-item__button" %>
  </div>
</section>
