<section>
  <header>
    <%= render "shared/back_button", path: groups_path %>
    <h1>New category</h1>
  </header>

  <%= render "form", group: @group %>

  <br>

  <div>
    <%= link_to "Categories list", groups_path %>
  </div>
</section>
