<section id="splash__section">
<div id="splash__logo">
  <h1>Budget Handler</h1>
  <%= image_tag('splash_icon', size:"75x75") %>
</div>

  <div id ="splash__options">
    <%= link_to 'LOG IN', '/users/sign_in' %>
    <%= link_to 'SIGN UP', '/users/sign_up' %>
  </div>
</section>