<section id="splash__section">
  <div id="splash__info">
    <p>Created by <a href="https://www.linkedin.com/in/gabriel-fonseca-sales/">Gabriel Fonseca</a></p>
    <p>Check my <a href="https://github.com/Gopxfs">other projects</a></p>
  </div>

  <div id="splash__logo">
    <h1>Budget Handler</h1>
    <img src="https://i.imgur.com/1iNjz9t.png", alt="Budget Handler logo", style="width:75px;height:75px">
  </div>

  <div id ="splash__options">
    <%= link_to 'LOG IN', '/users/sign_in', class:'button' %>
    <%= link_to 'SIGN UP', '/users/sign_up', class: 'button' %>
  </div>
</section>