@import 'mixins';

.login-buttons {
    padding: 20px;
    background-color: $background-white;
    width: 100%;
    max-width: 444px;
    border: 0;
    border-radius: 5px;

    &:hover {
      color: $background-white;
      background-color: $main-color;
  }
}