@import 'mixins';

form {
  @include flex(column, center, center);
  gap: 2px;

  .field, .actions {
    @include flex(row, center, center);
    width: 100%;

    input {
      font-size: 16px;
      padding: 12px 6px;
      outline: none;
      width: 100%;
      border: none;
    }
  }

  .checkbox {
    @include trim-text;
    margin: 8px 0;
    width: auto;
    
    label {
      margin-left: 5px;
    }
  }
}