@import 'mixins';

header {
  @include flex(row, center, flex-start);
  background-image: linear-gradient(to bottom left, $main-color, $main-color-darkest);
  padding: 12px 8px;
  height: 20px;
  width: 100vw;
  overflow-x: hidden;

  * {
    color: $background-white;
  }

  .header__back-button {
    margin-left: 15px;
  }

  h1,h2,h3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
