@import 'mixins';

#list {
  display: block;
  margin-top: 55px;

  #transactions, #categories {
    @include flex(column, center, none);
    gap: 10px;
    margin-bottom: 125px;

    a {
      @include flex(column, center, none);
      width: 100%;
    }

    .list__item {
      @include flex(row, center, space-between);
      height: 64px;
      width: 90%;
      padding: 8px;
      border-radius: 8px;
      gap: 10px;
      position: relative;
      background-color: $background-white;

      img {
        height: 50px;
        width: 50px;
        padding: 5px;
        border: 1px solid $text-color-darkest;
      }

      p {
        @include trim-text;
      }

      &__name {
        margin-right: auto;
      }
    }
  }
}

#transactions {
  .list__item {
    &__name {
      position: absolute;
      top: 15px;
    }

    &__price {
      position: absolute;
      right: 10px;
    }

    &__creation-date {
      position: absolute;
      bottom: 0;
      color: $text-color-darkest;
    }
  }
}

#new-item {
  @include flex(column, center, center);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 25px 0;
  background-color: $secondary-color;

  &__button {
    @include trim-text;
    text-align: center;
    color: white;
    width: 315px;
    padding: 20px 0;
    border: 1px solid $background-white;
    border-radius: 3px;
  }
}

#group-info {
  @include flex(row, center, space-between);
  height: 32px;
  width: 96%;
  padding: 8px;
  margin-bottom: 15px;
  margin-left: auto;
  background-color: $background-white;
}