@import 'mixins';

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: $background-main;

  * {
    @include general-text;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h1,h2,h3 {
    @include headline;
  }
}

.locked {
  pointer-events: none;
}

form {
  @include flex(column, center, center);

  .field {
    @include flex(row, center, center);
    width: 90%;

    input {
      padding: 7px 10px;
      outline: none;
      width: 100%;
    }
  }
}

section {
  overflow-x: hidden;
}