@import 'mixins';

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: $background-main;

  * {
    @include general-text;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h1,h2,h3 {
    @include headline;
  }
}

.locked {
  pointer-events: none;
}

form {
  @include flex(column, center, center);
  gap: 2px;

  .field {
    @include flex(row, center, center);
    width: 100%;

    input {
      font-size: 16px;
      padding: 12px 6px;
      outline: none;
      width: 100%;
      border: none;
    }
  }
}

section {
  overflow-x: hidden;
}