@import 'mixins';

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: $background-main;

  * {
    @include general-text;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h1,h2,h3 {
    @include headline;
  }
}

.locked {
  pointer-events: none;
}

section {
  overflow-x: hidden;
}

.logout {
  position: absolute;
  font-size: 20px;
  right: 2%;
  top: 12px;
  border: 0;
  border-left: 1px solid;
  padding-left: 15px;
  color: $background-white;
  background-color: inherit;
  cursor: pointer;
}